{% if user.is_authenticated %}
    <p>Signed in as {{user.username}}!</p>
{% else %}
    <p><a href="{% url 'accounts:register' %}">Register</a></p>
{% endif %}

<h1>Characters</h1>
{% if all_characters %}
    <ul>
    {% for character in all_characters %}
        <li><a href="{% url 'characters:view' character.id %}">{{character.name}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No characters have been created.</p>
{% endif %}

<p><a href="{% url 'characters:create' %}">Create a new character</a></p>
